<!-- Page Title Start -->
<div class="page-title title-bg-7">
    <div class="container">
        <div class="title-text text-center">
            <h2>من نحن</h2>
            <ul>
                <li>
                    <a href="/">الرئيسية</a>
                </li>
                <li>
                    من نحن
                </li>
            </ul>
        </div>
    </div>
</div><br>
<!-- Page Title End -->

<!-- About Section Start -->
<section class="about-section pt-100" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-duration="1s">
                <div class="about-img">
                    <img src="/frontend/img/about/1.jpg" alt="about image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2>عن الشركة</h2>
                    </div>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-bs-toggle="tab" href="#about" role="tab"
                               aria-controls="about" aria-selected="true">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mission-tab" data-bs-toggle="tab" href="#mission" role="tab"
                               aria-controls="mission" aria-selected="false">هدفنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="goal-tab" data-bs-toggle="tab" href="#goal" role="tab"
                               aria-controls="goal" aria-selected="false">رؤيتنا</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                            <p>نجحت ساتا اكسبريس في إرساء معايير رائدة لقطاع النقل السريع والخدمات اللوجستية في السوق
                                المصري وغيرها من الاقتصادات الناشئة. وبوصفها مزوداً عربياً رائداً لحلول النقل والخدمات
                                اللوجستية الشاملة، توفر ساتا اكسبريس مجموعة واسعة من الخدمات التي تشمل حلول النقل السريع
                                والشحن والخدمات اللوجستية وإدارة سلسلة التوريد والتجارة الإلكترونية
                            </p>
                        </div>
                        <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                            <p>نعمل علي غرس ثقافة تحتضن الابتكار، وسنواصل الاستثمار في إمكانات كوادرنا البشرية
                                والتكنولوجيا والبنية التحتيّة، بالتوازي مع تطبيق حلول مبتكرة تواكب الاحتياجات المتنامية
                                لعملائنا. كما نلتزم بتعزيز القيمة لمساهمينا وتوطيد شراكاتنا مع المجتمعات المحلية.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="goal" role="tabpanel" aria-labelledby="goal-tab">
                            <p>لطالما ارتكزت مبادرات أعمالنا على رؤيتنا الشاملة التي تهدف إلى دعم وتوسيع حركة التجارة في
                                الأسواق الناشئة وما بينها. ونحن على قناعة تامّة بأن النمو المستقبلي لأعمالنا منوط
                                بقدرتنا على التفكير والعمل بأسلوب إبداعي، وكذلك بتقبل مبدأ التغيير لمواكبة آخر المستجدات
                                في الأسواق وتلبية متطلبات عملائنا. وفي غمرة عالمنا المعاصر الذي تؤثر فيه التكنولوجيا على
                                حياتنا اليومية وتغيّرها أكثر من أي وقت مضى، بات العملاء أكثر اعتماداً على التواصل الرقمي
                                كوسيلة للارتقاء بأنماط حياتهم، وهو جانب يقدّم لنا مزيداً من الفرص لخدمتهم وتلبية
                                متطلباتهم بالشكل الأمثل
                            </p>
                        </div>
                    </div>

                    {{!--<div class="theme-btn">--}}
                    {{!--    <a href="about.html" class="default-btn">Know More</a>--}}
                    {{!--</div>--}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->