<!-- Page Title Start -->
<div class="page-title title-bg-7">
    <div class="container">
        <div class="title-text text-center">
            <h2>تواصل معنا</h2>
            <ul>
                <li>
                    <a href="/">الرئيسية</a>
                </li>
                <li>
                    تواصل معنا
                </li>
            </ul>
        </div>
    </div>
</div><br>
<!-- Page Title End -->

<!-- Contact Section Start -->
<section class="contact-section contact-style-two pb-100" id="contact">
    <div class="container">
        <div class="section-title text-center">
            <h2>تواصل معنا الان</h2>
            <p>سعداء بسماع استفسارتكم واسئلتكم</p>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="contact-area">
                    <form action="/Send-mail-contactus" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" required
                                           data-error="Please enter your name" placeholder="الاسم">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" required
                                           data-error="Please enter your email" placeholder="البريد الالكتروني">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" name="number" id="number" class="form-control" required
                                           data-error="Please enter your number" placeholder="رقم الهاتف">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" class="form-control" required
                                           data-error="Please enter your subject" placeholder="الموصوع">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="message-field" id="message" cols="30" rows="5"
                                              required data-error="Please type your message"
                                              placeholder="الرسالة"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 text-center">
                                <button type="submit" class="default-btn contact-btn">
                                    ارسال
                                </button>
                                <div id="msgSubmit" class="h3 alert-text text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{{#if success}}
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'تمت العملية بنجاح',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
{{/if}} 