<!-- Page Title Start -->
<div class="page-title title-bg-7">
    <div class="container">
        <div class="title-text text-center">
            <h2>مايميزنا</h2>
            <ul>
                <li>
                    <a href="/">الرئيسية</a>
                </li>
                <li>
                    مايميزنا
                </li>
            </ul>
        </div>
    </div>
</div><br>
<!-- Page Title End -->

<!-- Transport System Section Start -->
<section class="transport-section pb-70" id="feature">
    <div class="container">
        <div class="section-title text-center">
            <span>مايميزنا</span>
            <h2>مميزات الشحن فى ساتا اكسبريس</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/img/about/1.jpg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <i class="icofont-fast-delivery"></i>
                        <h3>من الباب للباب</h3>
                        <p>يتم توفير خدمة النقل من الباب إلى الباب لشحن الطلبات الخاصة بك في جميع أنحاء الجمهورية . يتم
                            تقديم الخدمة للمواد الحساسة للوقت والقابلة للتلف والخطرة والبضائع العامة</p>

                        {{!--<div class="theme-btn">--}}
                        {{!--    <a href="service-details.html" class="default-btn">Read More</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/img/banner/2.jpg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <i class="icofont-truck-loaded"></i>
                        <h3>تسليم الطلبات</h3>
                        <p>حتى على مسافات طويلة ، فإن شحنتك في أيد أمينة: بدعم من الأنظمة الأكثر تقدمًا ، يتوفر موظفون
                            مؤهلون وموثوقون في جميع أنحاء الجمهورية لتوصيل طلبك بأقل وقت </p>

                        {{!--<div class="theme-btn">--}}
                        {{!--    <a href="service-details.html" class="default-btn">Read More</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay=".6s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/img/banner/1.jpg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <i class="icofont-live-support"></i>
                        <h3>خدمة عملاء مميزة</h3>
                        <p>يمكنكم التواصل معنا من خلال رقم الهاتف او الواتساب او من خلال متابعه طلبكم عن طريق كود الطلب
                            لمعرفة المكان الحالى لشحنتك</p>

                        {{!--<div class="theme-btn">--}}
                        {{!--    <a href="ocean-freight.html" class="default-btn">Read More</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Transport System Section End -->