<!-- Banner Section Start -->
<div class="banner-slider owl-carousel owl-theme">
    <div class="banner-item banner-bg-one">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="banner-text">
                        <h1>شحن الى اى مكان فى مصر</h1>
                        <p>اقل سعر و اعلي جودة </p>

                        {{!--<div class="banner-btn">--}}
                        {{!--    <a href="#" class="default-btn">Get a Free Call</a>--}}
                        {{!--    <a href="https://youtu.be/kpanwiv9fsw" class="default-btn popup-youtube">Watch Video</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-item banner-bg-two">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="banner-text">
                        <h1>هنوصل شحنتك بأمان وبدون اى مشكلة وفى اقل وقت ممكن </h1>
                        <p>شحنتك معانا فى امان بأسعار تبدأ من 30 جنية </p>

                        {{!--<div class="banner-btn">--}}
                        {{!--    <a href="#" class="default-btn">Get a Free Call</a>--}}
                        {{!--    <a href="https://youtu.be/kpanwiv9fsw" class="default-btn popup-youtube">Watch Video</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->

<!-- Features Section Start -->
<div class="features-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="feature-card">
                    <i class="icofont-fast-delivery"></i>
                    <span> 50000 كيلو </span>
                    <h3>اجمالي المشاوير</h3>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="feature-card">
                    <i class="icofont-location-pin"></i>
                    <span>25 مدينة</span>
                    <h3>اجمالى مناطق الشحن</h3>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="feature-card">
                    <i class="icofont-users-alt-3"></i>
                    <span> 3000عميل</span>
                    <h3>اجمالى العملاء</h3>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="feature-card">
                    <i class="icofont-thumbs-up"></i>
                    <span>5 سنوات</span>
                    <h3>الخبرة</h3>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Section End -->

<!-- About Section Start -->
<section class="about-section pt-100" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-duration="1s">
                <div class="about-img">
                    <img src="/frontend/img/about/1.jpg" alt="about image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2>عن الشركة</h2>
                    </div>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-bs-toggle="tab" href="#about" role="tab"
                               aria-controls="about" aria-selected="true">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mission-tab" data-bs-toggle="tab" href="#mission" role="tab"
                               aria-controls="mission" aria-selected="false">هدفنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="goal-tab" data-bs-toggle="tab" href="#goal" role="tab"
                               aria-controls="goal" aria-selected="false">رؤيتنا</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                            <p>نجحت ساتا اكسبريس في إرساء معايير رائدة لقطاع النقل السريع والخدمات اللوجستية في السوق
                                المصري وغيرها من الاقتصادات الناشئة. وبوصفها مزوداً عربياً رائداً لحلول النقل والخدمات
                                اللوجستية الشاملة، توفر ساتا اكسبريس مجموعة واسعة من الخدمات التي تشمل حلول النقل السريع
                                والشحن والخدمات اللوجستية وإدارة سلسلة التوريد والتجارة الإلكترونية
                            </p>
                        </div>
                        <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                            <p>نعمل علي غرس ثقافة تحتضن الابتكار، وسنواصل الاستثمار في إمكانات كوادرنا البشرية
                                والتكنولوجيا والبنية التحتيّة، بالتوازي مع تطبيق حلول مبتكرة تواكب الاحتياجات المتنامية
                                لعملائنا. كما نلتزم بتعزيز القيمة لمساهمينا وتوطيد شراكاتنا مع المجتمعات المحلية.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="goal" role="tabpanel" aria-labelledby="goal-tab">
                            <p>لطالما ارتكزت مبادرات أعمالنا على رؤيتنا الشاملة التي تهدف إلى دعم وتوسيع حركة التجارة في
                                الأسواق الناشئة وما بينها. ونحن على قناعة تامّة بأن النمو المستقبلي لأعمالنا منوط
                                بقدرتنا على التفكير والعمل بأسلوب إبداعي، وكذلك بتقبل مبدأ التغيير لمواكبة آخر المستجدات
                                في الأسواق وتلبية متطلبات عملائنا. وفي غمرة عالمنا المعاصر الذي تؤثر فيه التكنولوجيا على
                                حياتنا اليومية وتغيّرها أكثر من أي وقت مضى، بات العملاء أكثر اعتماداً على التواصل الرقمي
                                كوسيلة للارتقاء بأنماط حياتهم، وهو جانب يقدّم لنا مزيداً من الفرص لخدمتهم وتلبية
                                متطلباتهم بالشكل الأمثل
                            </p>
                        </div>
                    </div>

                    <div class="theme-btn">
                        <a href="/about-us" class="default-btn">عرض المزيد</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Transport System Section Start -->
<section class="transport-section pb-70" id="feature">
    <div class="container">
        <div class="section-title text-center">
            {{!--<span>خدماتنا</span>--}}
            <h2>خدماتنا</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/1.jpeg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <h3>شحن محلى</h3>
                        <p class="text-justify">يمكن أن يعتم د بائعي التجزئة الكبار والصغار على خدمة الشحن الداخلى
                            المقدمة من خلال شركة sataexpress</p>

                        <div class="theme-btn">
                            <a href="/one" class="default-btn">قراءة المزيد</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/2.jpeg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <h3>شحن دولي من مصر</h3>
                        <p class="text-justify">
                            حتى على مسافات طويلة ، فإن شحنتك في أيد أمينة: بدعم من الأنظمة الأكثر تقدمًا ،
                        </p>

                        <div class="theme-btn">
                            <a href="/two" class="default-btn">قراءة المزيد</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0 wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay=".6s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/3.jpeg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <h3>شحن دولي إلي مصر</h3>
                        <p class="text-justify">توفر لك sataexpress للشحن خدمة شحن دولي من جميع دول العالم الى مصر شحن
                            جوى من الباب إلى الباب</p>

                        <div class="theme-btn">
                            <a href="/three" class="default-btn">قراءة المزيد</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0 wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay=".6s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/4.jpeg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <h3>شحن بضائع</h3>
                        <p class="text-justify">sataexpress للشحن تساعدك على إرسال الشحنات التجارية الخاصة بك والأغراض
                            الشخصية ذات الأوزان الثقيلة</p>

                        <div class="theme-btn">
                            <a href="/four" class="default-btn">قراءة المزيد</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Transport System Section End -->

<!-- Why Choose Section Start -->
<section class="why-choose-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="why-choose-img">
                    <div class="shipping-text">
                        <h3>معرفة مكان الشحن</h3>
                        <p>سيكون معرف المسار ومعرف الطلب في ملف المستند الخاص بك.</p>
                        <form id="my_form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="idorder" placeholder="أدخل معرف الطلب">
                            </div>

                            <button type="submit" id="submit" class="shipping-btn">
                                تتبع الآن
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="why-choose-text">
                    <div class="section-title">
                        <h2>لماذا ساتا اكسبرس؟</h2>
                        <p>تُعرف طائرة الشحن أيضًا باسم طائرات الشحن ، أو طائرة الشحن ، أو طائرة النقل الجوي ، أو طائرة
                            الشحن النفاثة ، وهي طائرة ثابتة الجناحين تم تصميمها أو تحويلها لنقل البضائع بدلاً من
                            الركاب.</p>
                    </div>

                    <div class="accordions">
                        <div class="accordion-item">
                            <div class="accordion-title" data-tab="item1">
                                <i class="icofont-fast-delivery"></i>
                                <h2>تسليم سريع وآمن <i class="icofont-stylish-right down-arrow"></i></h2>
                            </div>

                        </div>

                        <div class="accordion-item">
                            <div class="accordion-title" data-tab="item2">
                                <i class="icofont-ssl-security"></i>
                                <h2>سلامة المنتج <i class="icofont-stylish-right down-arrow"></i></h2>
                            </div>

                        </div>

                        <div class="accordion-item">
                            <div class="accordion-title" data-tab="item3">
                                <i class="icofont-diamond"></i>
                                <h2>اسعار تنافسية <i class="icofont-stylish-right down-arrow"></i></h2>
                            </div>

                        </div>

                        <div class="accordion-item">
                            <div class="accordion-title" data-tab="item4">
                                <i class="icofont-ui-browser"></i>
                                <h2>دفع أمن <i class="icofont-stylish-right down-arrow"></i></h2>
                            </div>

                        </div>

                        <div class="accordion-item">
                            <div class="accordion-title" data-tab="item5">
                                <i class="icofont-live-support"></i>
                                <h2>24/7 دعم <i class="icofont-stylish-right down-arrow"></i></h2>
                            </div>

                        </div>

                        <div class="accordion-item">
                            <div class="accordion-title" data-tab="item6">
                                <i class="icofont-like"></i>
                                <h2>خبرة ممتازة <i class="icofont-stylish-right down-arrow"></i></h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Section End -->


<!-- Feedback Section Strat -->
<section class="feedback-section feedback-bg pt-100" id="testmonial">
    <div class="container">
        <div class="section-title text-center">
            <span>اراء العملاء</span>
            <h2></h2>
            <p></p>
        </div>

        <div class="feedback-slider owl-carousel owl-theme">
            <div class="feedback-items">
                <i class="icofont-quote-right"></i>
                <p>من أفضل شركات الشحن التي تعملت معها اسعار مناسبة وخدمة ممتازة انصح بالتعامل معهم</p>

                <img src="/Adminlook/images/admin.png" alt="client image" style="height:70px">
                <h3>احمد جمال</h3>
                <span>رجل اعمال</span>
            </div>

            <div class="feedback-items">
                <i class="icofont-quote-right"></i>
                <p>شكرة ذو قيمة واحترام وابهرني التعامل معهم وسرعة في الرد وامان وثقة</p>

                <img src="/Adminlook/images/admin.png" alt="client image" style="height:70px">
                <h3>محمد السمان</h3>
                <span>تاجر</span>
            </div>

            <div class="feedback-items">
                <i class="icofont-quote-right"></i>
                <p>شكرة ذو قيمة واحترام وابهرني التعامل معهم وسرعة في الرد وامان وثقة</p>

                <img src="/Adminlook/images/admin.png" alt="client image" style="height:70px">
                <h3>محمد السمان</h3>
                <span>تاجر</span>
            </div>
        </div>
        <div class="theme-btn">
            <a href="/testmonials" class="default-btn">عرض المزيد</a>
        </div>
    </div>
</section>
<!-- Feedback Section End -->
<!-- Company Section Start -->
<div class="company-section">
    <div class="container">
        <div class="company-slider owl-carousel owl-theme">
            <div class="company-logo">
                <a href="#"><img src="/Adminlook/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="company-logo">
                <a href="#"><img src="/Adminlook/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="company-logo">
                <a href="#"><img src="/Adminlook/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="company-logo">
                <a href="#"><img src="/Adminlook/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="company-logo">
                <a href="#"><img src="/Adminlook/images/logo/logo.png" alt="logo"></a>
            </div>
        </div>
    </div>
</div><br>
<!-- Company Section End -->
<!-- Contact Section Start -->
<section class="contact-section contact-style-two pb-100" id="contact">
    <div class="container">
        <div class="section-title text-center">
            <h2>تواصل معنا الان</h2>
            <p>سعداء بسماع استفسارتكم واسئلتكم</p>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="contact-area">
                    <form action="/Send-mail-contactus" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" required
                                           data-error="Please enter your name" placeholder="الاسم">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" required
                                           data-error="Please enter your email" placeholder="البريد الالكتروني">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" name="number" id="number" class="form-control" required
                                           data-error="Please enter your number" placeholder="رقم الهاتف">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" class="form-control" required
                                           data-error="Please enter your subject" placeholder="الموصوع">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="message-field" id="message" cols="30" rows="5"
                                              required data-error="Please type your message"
                                              placeholder="الرسالة"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 text-center">
                                <button type="submit" class="default-btn contact-btn">
                                    ارسال
                                </button>
                                <div id="msgSubmit" class="h3 alert-text text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

{{#if success}}
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'تمت العملية بنجاح',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
{{/if}} 