<!-- Feedback Section Strat -->
<section class="feedback-section feedback-bg pt-100" id="testmonial">
    <div class="container">
        <div class="section-title text-center">
            <span>اراء العملاء</span>
            <h2></h2>
            <p></p>
        </div>

        <div class="feedback-slider owl-carousel owl-theme">
            <div class="feedback-items">
                <i class="icofont-quote-right"></i>
                <p>من أفضل شركات الشحن التي تعملت معها اسعار مناسبة وخدمة ممتازة انصح بالتعامل معهم</p>

                <img src="/Adminlook/images/admin.png" alt="client image" style="height:70px">
                <h3>احمد جمال</h3>
                <span>رجل اعمال</span>
            </div>

            <div class="feedback-items">
                <i class="icofont-quote-right"></i>
                <p>شكرة ذو قيمة واحترام وابهرني التعامل معهم وسرعة في الرد وامان وثقة</p>

                <img src="/Adminlook/images/admin.png" alt="client image" style="height:70px">
                <h3>محمد السمان</h3>
                <span>تاجر</span>
            </div>

            <div class="feedback-items">
                <i class="icofont-quote-right"></i>
                <p>شكرة ذو قيمة واحترام وابهرني التعامل معهم وسرعة في الرد وامان وثقة</p>

                <img src="/Adminlook/images/admin.png" alt="client image" style="height:70px">
                <h3>محمد السمان</h3>
                <span>تاجر</span>
            </div>
        </div>
    </div>
</section>
<!-- Feedback Section End -->
