<!-- Page Title Start -->
<div class="page-title title-bg-7">
    <div class="container">
        <div class="title-text text-center">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a href="/en">Main Page</a>
                </li>
                <li>
                    About Us
                </li>
            </ul>
        </div>
    </div>
</div><br>
<!-- Page Title End -->

<!-- About Section Start -->
<section class="about-section pt-100" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-duration="1s">
                <div class="about-img">
                    <img src="/frontend/img/about/1.jpg" alt="about image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2>About company</h2>
                    </div>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-bs-toggle="tab" href="#about" role="tab"
                               aria-controls="about" aria-selected="true">Who are we?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mission-tab" data-bs-toggle="tab" href="#mission" role="tab"
                               aria-controls="mission" aria-selected="false">Our goal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="goal-tab" data-bs-toggle="tab" href="#goal" role="tab"
                               aria-controls="goal" aria-selected="false">our vision</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                            <p>SATA Express has succeeded in setting pioneering standards for the express transport and
                                logistics sector in the Egyptian market and other emerging economies. As a leading Arab
                                provider of comprehensive transportation and logistics solutions, SATA Express provides
                                a wide range of services that include express transportation, freight, logistics, supply
                                chain management and e-commerce solutions.</p>
                        </div>
                        <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                            <p>We are working to instill a culture that embraces innovation, and we will continue to
                                invest in the capabilities of our human cadres, technology and infrastructure, in
                                parallel with implementing innovative solutions that keep pace with the growing needs of
                                our customers. We are also committed to enhancing shareholder value and strengthening
                                our partnerships with local communities.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="goal" role="tabpanel" aria-labelledby="goal-tab">
                            <p>Our business initiatives have always been based on our comprehensive vision to support
                                and expand trade in and between emerging markets. We are fully convinced that the future
                                growth of our business depends on our ability to think and work in a creative manner, as
                                well as accepting the principle of change to keep pace with the latest developments in
                                the markets and meet the requirements of our customers. In the midst of our contemporary
                                world in which technology affects and changes our daily lives more than ever, customers
                                have become more dependent on digital communication as a means to improve their
                                lifestyles, an aspect that provides us with more opportunities to serve them and meet
                                their requirements optimally.
                            </p>
                        </div>
                    </div>

                    <div class="theme-btn">
                        <a href="/en/about-us" class="default-btn">Show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->