<!-- Page Title Start -->
<div class="page-title title-bg-7">
    <div class="container">
        <div class="title-text text-center">
            <h2>what distinguishes us</h2>
            <ul>
                <li>
                    <a href="/en">Main Page</a>
                </li>
                <li>
                    what distinguishes us
                </li>
            </ul>
        </div>
    </div>
</div><br>
<!-- Page Title End -->

<!-- Transport System Section Start -->
<section class="transport-section pb-70" id="feature">
    <div class="container">
        <div class="section-title text-center">
            <span>what distinguishes us</span>
            <h2>Sata Express Shipping Advantages</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/img/about/1.jpg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <i class="icofont-fast-delivery"></i>
                        <h3>Door to Door</h3>
                        <p>Door-to-door transportation is provided to ship your orders across the country. Service is
                            provided for time-sensitive, perishable and hazardous materials and general merchandise</p>
                        {{!--<div class="theme-btn">--}}
                        {{!--    <a href="service-details.html" class="default-btn">Read More</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/img/banner/2.jpg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <i class="icofont-truck-loaded"></i>
                        <h3>Delivery of orders</h3>
                        <p>Even over long distances, your shipment is in safe hands: With the support of the most
                            advanced systems, qualified and reliable personnel are available all over the country to
                            deliver your order in the least time</p>

                        {{!--<div class="theme-btn">--}}
                        {{!--    <a href="service-details.html" class="default-btn">Read More</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay=".6s">
                <div class="transport-card">
                    <div class="transport-img">
                        <img src="/frontend/img/banner/1.jpg" alt="transport image">
                    </div>
                    <div class="transport-text">
                        <i class="icofont-live-support"></i>
                        <h3>Excellent customer service</h3>
                        <p>You can contact us through the phone number or WhatsApp, or by following up on your order via
                            the order code to know the current location of your shipment</p>
                        {{!--<div class="theme-btn">--}}
                        {{!--    <a href="ocean-freight.html" class="default-btn">Read More</a>--}}
                        {{!--</div>--}}
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-btn">
            <a href="/en/feature" class="default-btn">Show more</a>
        </div>
    </div>
</section>
<!-- Transport System Section End -->