<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">الرئيسية </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/admin/coupons"> كوبونات الخصم </a>
                            </li>
                            <li class="breadcrumb-item active">اضافة كوبون
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="basic-layout-form">اضافة كوبون</h4>
                                <a class="heading-elements-toggle"><i
                                        class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            {{#if error}}
                                {{#each error as |err|}}
                                    <div class="row mr-2 ml-2">
                                        <button type="text" class="btn btn-lg btn-block btn-outline-danger mb-2"
                                                id="type-error">{{err}}
                                        </button>
                                    </div>
                                {{/each}}
                            {{/if}}
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <form class="form" action="/admin/coupons/store"
                                          method="POST">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-home"></i> بيانات الكويون </h4>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="projectinput1">كود الكوبون</label>
                                                        <input type="text" id="name"
                                                               class="form-control"
                                                               placeholder="كود الكوبون"
                                                               name="code" required>
                                                        {{!-- <span class="text-danger"></span> --}}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput1"> النوع </label>
                                                        <select name="type" id="" class="form-control" required>
                                                            <option value="price">مبلغ ثابت</option>
                                                            <option value="percent" selected>نسبة مئوية</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput1">الخصم</label>
                                                        <input type="number" id="name"
                                                               class="form-control"
                                                               placeholder="المبلغ او النسبة"
                                                               name="price" required>
                                                        {{!-- <span class="text-danger"></span> --}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="projectinput1">تاريخ الانتهاء</label>
                                                        <input type="date" id="name"
                                                               class="form-control"
                                                               placeholder="تاريخ الانتهاء"
                                                               name="date" required>
                                                        {{!-- <span class="text-danger"></span> --}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button type="button" class="btn btn-warning mr-1"
                                                    onclick="history.back();">
                                                <i class="ft-x"></i> تراجع
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="la la-check-square-o"></i> حفظ
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic form layout section end -->
        </div>
    </div>
</div>