<!-- Page Title Start -->
<div class="page-title title-bg-5">
    <div class="container">
        <div class="title-text text-center">
            <h2>International Shipping to Egypt</h2>
            <ul>
                <li>
                    <a href="/en">Main</a>
                </li>
                <li>International Shipping to Egypt</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title End -->

<!-- Service Details Section Start -->
<section class="service-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-post-area">
                    <div class="service-details-img">
                        <img src="https://alamiaforshipping.net/wp-content/uploads/2017/08/wsi-imageoptim-5-1-1170x593.jpg"
                             alt="service details image">
                    </div>
                    <p>Sataexpress Cargo helps you send your commercial shipments and personal items with heavy weights
                        from Cairo International Airport to all airports in the world via airlines available in
                        Egypt</p>
                    <h2>Service Description</h2>
                    <p>Save money The company offers you the best prices for airlines

                        Saving effort as you can use the internal transportation service from your headquarters to Cairo
                        Airport via sataexpress

                        Save time sataexpress provides air freight service within 48 hours of the customer's request for
                        the service if the required documents are available for export

                        Available airlines

                        All airlines available from Cairo Airport

                        Shipment weight and volume

                        Minimum shipment weight 100 kg

                        Maximum cargo weight 5000kg

                        The maximum weight of one piece is 45 kg

                        The maximum dimensions of one piece are 120 cm * 80 cm * 80 cm.</p>

                </div>
            </div>

            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s">
                <div class="service-sidebar">
                    <div class="sidebar-widget">
                        <h3>Services</h3>
                        <ul>
                            <li>
                                <i class="icofont-check-circled"></i>
                                local shipping
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                International shipping from Egypt
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                International shipping to Egypt
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                cargo shipping
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Details Section End -->