<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/frontend/css/bootstrap.rtl.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/frontend/css/animate.css">
    <!-- Icofont CSS -->
    <link rel="stylesheet" href="/frontend/css/icofont.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/frontend/css/owl.carousel.min.css">
    <!--  Owl Carousel Theme CSS -->
    <link rel="stylesheet" href="/frontend/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/frontend/css/magnific-popup.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/frontend/css/meanmenu.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/frontend/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/frontend/css/responsive.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="/frontend/css/rtl.css">
    <script src="https://cdn.jsdelivr.net/npm/translate@1/translate.min.js"></script>
    <!-- Title CSS -->
    <title>SataExpress</title>
    <!-- Favicon Link -->
    <link rel="icon" type="image/png" href="/Adminlook/images/logo/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<!-- PreLoader Start -->
<div class="loader-content">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </div>
</div>
<!-- PreLoader End -->

<!-- Header Area Start -->
<div class="header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="header-left">
                    <ul>
                        <li>
                            <a href="mailto:hello@fixa.com" dir="ltr">
                                <i class="icofont-ui-message"></i>
                                hello@sataexpress.com
                            </a>
                        </li>
                        <li>
                            <a href="tel:+10235415654" dir="ltr">
                                <i class="icofont-phone"></i>
                                +1***********
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-right">
                    <ul class="header-social">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/" target="_blank">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="linkedin.com" target="_blank">
                                <i class="icofont-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Area End -->

<!-- Navbar Area Start -->
<div class="navbar-area">
    <!-- For Mobile Device -->
    <div class="mobile-nav">
        <a href="/" class="logo">
            <img src="/Adminlook/images/logo/logo.png" alt="logo" style="height: 35px;">
        </a>
    </div>

    <!-- For Desktop Device -->
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="/Adminlook/images/logo/logo.png" alt="logo" style="height: 40px;">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a href="/" class="nav-link"> الصفحة الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a href="/feature" class="nav-link">مايميزنا</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">خدماتنا</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/one" class="nav-link">شحن محلى</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/two" class="nav-link">شحن دولي من مصر</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/tree" class="nav-link">شحن دولي إلي مصر</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/four" class="nav-link">شحن بضائع</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/about-us" class="nav-link"> من نحن </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">طلب وظيفة</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6oewhcxEI92qJ68vstBoaQ6L3OEy4eJ0fICoc61xBiyZMiA/viewform?vc=0&c=0&w=1&flr=0"
                                       class="nav-link" target="_blank">وظيفة إدارية</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScoTWP-6vpX8QXUvNBCWWnFqtA2-yah8qmGOyM6ovPSJ7QDeA/viewform?vc=0&c=0&w=1&flr=0"
                                       class="nav-link" target="_blank"> وظيفة مندوب شحن</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/contact-us" class="nav-link"> اتصل بنا</a>
                        </li>
                        <li class="nav-item">
                            <a href="/en" class="nav-link"> English</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar Area End -->
{{{body}}}

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <a href="/">
                        <img src="/Adminlook/images/logo/logoWhite.png" alt="logo" style="height:50px">
                    </a>
                    <ul>
                        <li>
                            {{!-- <i class="icofont-phone"></i> --}}
                            <a href="tel:+1**********">
                                +1**********
                            </a>
                        </li>
                        <li>
                            {{!-- <i class="icofont-ui-message"></i> --}}
                            <a href="mailto:hello@fixa.com">
                                hello@sataexpress.com
                            </a>
                        </li>
                        <li>
                            <i class="icofont-location-pin"></i>
                            المشير احمد اسماعيل ، الشيراتون ، القاهرة
                        </li>
                    </ul>
                    <div class="footer-social">
                        <a href="#" target="_blank">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="icofont-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h3>أهم الروابط</h3>
                    <ul>
                        <li class="nav-item">
                            <a href="/" class="nav-link">الصفحة الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a href="/feature" class="nav-link">مايميزنا</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about-us" class="nav-link"> عن الشركة </a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact-us" class="nav-link"> اتصل بنا</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h3>خدماتنا</h3>
                    <ul>
                        <li class="nav-item">
                            <a href="/one" class="nav-link">شحن محلى</a>
                        </li>
                        <li class="nav-item">
                            <a href="/two" class="nav-link">شحن دولي من مصر </a>
                        </li>
                        <li class="nav-item">
                            <a href="/tree" class="nav-link">شحن دولي إلي مصر</a>
                        </li>
                        <li class="nav-item">
                            <a href="/four" class="nav-link">شحن بضائع</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <p>Copyright @2022 SataExpress. All Rights Reserved</p>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>
<!-- Footer Area End -->
<!-- Back top Button -->
<div class="top-btn">
    <i class="icofont-rounded-up"></i>
</div>

<!-- jQuery first, then Bootstrap JS -->
<script src="/frontend/js/jquery.min.js"></script>
<script src="/frontend/js/bootstrap.bundle.min.js"></script>
<!-- Subscribe From JS -->
<script src="/frontend/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="/frontend/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="/frontend/js/contact-form-script.js"></script>
<!-- Owl Carousel Slider JS -->
<script src="/frontend/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JS -->
<script src="/frontend/js/jquery.magnific-popup.min.js"></script>
<!-- WOW JS -->
<script src="/frontend/js/wow.min.js"></script>
<!-- Meanmenu JS -->
<script src="/frontend/js/meanmenu.js"></script>
<!-- Custom JS -->
<script src="/frontend/js/custom.js"></script>

<script>
    $(document).ready(function () {
        $(document).on('click', '#my_form #submit', function (e) {
            e.preventDefault();
            var id = $("#my_form #idorder").val();
            if (id === "") {
                $("#my_form #idorder").focus();
                Swal.fire('لا يمكن ترك الحقل فارغ')
            } else {
                $.ajax({
                    url: '/Trace-Order',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function (response) {
                        Swal.fire(response.data[0].status)
                    },
                    error: function (err) {
                        Swal.fire("حدث خطأ قد يكون رقم المعرف خطأ")
                    },
                });
                /**Ajax code ends**/
            }
        });
    });
</script>
</body>
</html>