<!-- Page Title Start -->
<div class="page-title title-bg-5">
    <div class="container">
        <div class="title-text text-center">
            <h2>الشحن الدولي إلي مصر</h2>
            <ul>
                <li>
                    <a href="/">الرئيسية</a>
                </li>
                <li>الشحن الدولي إلي مصر</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title End -->

<!-- Service Details Section Start -->
<section class="service-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-post-area">
                    <div class="service-details-img">
                        <img src="https://alamiaforshipping.net/wp-content/uploads/2017/08/wsi-imageoptim-5-1-1170x593.jpg"
                             alt="service details image">
                    </div>
                    <p>sataexpress للشحن تساعدك على إرسال الشحنات التجارية الخاصة بك والأغراض الشخصية ذات الأوزان
                        الثقيلة من مطار القاهرة الدولي إلى جميع المطارات في العالم عبر الخطوط الجوية المتاحة في مصر</p>
                    <h2>وصف الخدمة</h2>
                    <p>توفير المال تقدم لك الشركة أفضل الأسعار لشركات الطيران

                        توفير الجهد حيث يمكنك استخدام خدمة النقل الداخلي من مقرك الرئيسي إلى مطار القاهرة عبر شركة
                        sataexpress

                        توفير الوقت تقدم شركة sataexpress خدمة الشحن الجوي خلال 48 ساعة من طلب العميل للخدمة إذا كانت
                        المستندات المطلوبة متوفرة للتصدير

                        خطوط الطيران المتاحة

                        جميع شركات الطيران المتاحة من مطار القاهرة

                        وزن وحجم الشحنة

                        الحد الأدنى لوزن الشحنة 100 كجم

                        الحد الأقصى لوزن الشحنة 5000 كجم

                        الحد الأقصى لوزن القطعة الواحدة 45 كجم

                        الحد الأقصي لأبعاد القطعة الواحدة 120 سم * 80 سم * 80 سم.

                        يمكنك إرسال شحنات ذات أبعاد 2 متر والأوزان أكثر من 45 كجم للقطعة الواحدة ولكن بعد تأكيد الحجز من
                        خلال خدمة العملاء للتأكد من حجز المساحة المطلوبة داخل الطائرة

                        خدمة التأمين علي الشحنات

                        يمكنك طلب التأمين على البضائع الخاصة بك من خلال خدمة العملاء وفقًا لشروط وأحكام شركة الطيران

                        مسؤولية sataexpress للشحن إذا كانت الشحنة غير مؤمن عليها تتمثل في قيمة الشحنة في بوليصة الشحن
                        بحد أقصى 100 دولار أمريكي</p>

                </div>
            </div>

            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s">
                <div class="service-sidebar">
                    <div class="sidebar-widget">
                        <h3>الخدمات</h3>
                        <ul>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن محلى
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن دولي من مصر
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن دولي إلي مصر
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن بضائع
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Details Section End -->