<!-- Page Title Start -->
<div class="page-title title-bg-5">
    <div class="container">
        <div class="title-text text-center">
            <h2>الشحن الدولي من مصر</h2>
            <ul>
                <li>
                    <a href="/">الرئيسية</a>
                </li>
                <li>الشحن الدولي من مصر</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title End -->

<!-- Service Details Section Start -->
<section class="service-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-post-area">
                    <div class="service-details-img">
                        <img src="https://alamiaforshipping.net/wp-content/uploads/2017/08/wsi-imageoptim-11-1170x593.jpg"
                             alt="service details image">
                    </div>
                    <p>توفر لك sataexpress للشحن خدمة شحن دولي من مصر الي جميع دول العالم شحن جوى من الباب إلى الباب حيث
                        يمكنك الأختيار بين أفضل البدائل لأرسال المستندات والوثائق الهامة من مصر لجميع انحاء العالم وأيضا
                        يمكنك شحن الطرود من مصر لجميع الدول والحصول علي ارخص أسعار شركات الشحن الدولي بنسبة تخفيض تصل
                        الي 40 % علي خدمات كبري شركات النقل والطيران الدولي في العالم</p>
                    <h2>وصف الخدمة</h2>
                    <p>ارسال مستندات من مصر الي جميع دول العالم من الباب الي الباب

                        ارسال عينات من مصر الي جميع دول العالم من الباب الي الباب

                        ارسال هدايا ومتعلقات شخصية من مصر الي جميع دول العالم من الباب الي الباب

                        ارسال منتجات وبضائع من مصر الي جميع دول العالم من الباب الي الباب

                        يتم استلام الشحنة / الطرد من عنوان الراسل او من احد فروع الشركة ثم تقوم الشركة بتجهيز أوراق
                        الشحن وتغليف محتويات الشحنة وانهاء اجراءات سفر الشحنة من مطار القاهرة وبعد وصول الشحنة الى دولة
                        المرسل اليه يقوم وكيل الشحن الدولى بأنهاء اجراءات التخليص فى دولة المرسل اليه وتوصيل الشحنة حتى
                        عنوانه المذكور فى بوليصة الشحن وتحصيل الرسوم الجمركية التى تم سدادها عند دخلول الشحنة إن وجد

                        فوائد ومميزات الخدمة

                        توفير المال تقدم لك الشركة sataexpress جميع أسعار خدمات الشحن الدولى بخصم يصل إلى 40 ٪ مقارنة
                        بأسعارها عند الشحن بشكل مباشر مع شركات النقل الدولى sataexpress او خطوط الطيران

                        توفير الجهد توفر لك sataexpress حلول وبدائل شحن مختلفة للطرد / الشحنة الخاصة بك

                        توفير الوقت حيث أن زمن العبور كالأتى:

                        شحن من مصر إلى دول الخليج العربى من يومين إلى ثلاثة أيام عمل

                        شحن من مصر إلى دول أوروبا من ثلاثة إلى خمسة أيام عمل

                        شحن من مصر إلى دولة أمريكا وكندا من ثلاثة إلى خمسة أيام عمل

                        شحن من مصر إلى دول أسيا من أربعة إلى ستة أيام عمل

                        شحن من مصر إلى دول إفريقيا من أربعة إلى ستة أيام عمل

                        متابعة أون لاين سيقوم مندوب شركة sataexpress بتسليمك نسخة من بوليصة الشحن الخاص بشحنتك عن
                        إستلامها منك ويمكنك تتبع جميع مراحل تسليم الشحنة أون لاين من خلال الموقع الإلكترونى

                        خدمة ما بعد البيع لدينا فريق خدمة عملاء مدرب على أعلى مستوى للرد على جميع الأستفسارات و متابعة
                        الشحنات، وسوف تتلقى تحديثات لشحنتك عبر البريد الإلكتروني المسجل لدينا

                        الدول المتاحة

                        جميع دول العالم

                        وزن وحجم الشحنة

                        الحد الأقصى لوزن الشحنة الواحدة 1000 كجم

                        الحد الأقصى لوزن القطعة الواحدة 70 كجم

                        الحد الأقصي لأبعاد القطعة الواحدة 120 سم * 80 سم * 80 سم

                        يمكنك إرسال شحنات ذات أبعاد 2 متر والأوزان أكثر من 70 كجم للقطعة الواحدة ولكن بعد تأكيد من خلال
                        خدمة العملاء لضمان حجز المساحة المطلوبة علي الطائرة

                        خدمة تأمين علي شحنات المستندات

                        رسوم الخدمة مبلغ ثابت 6.40 دولارات أمريكية مقابل تعويض مبلغ ثابت 400 دولار أمريكي في حالة حدوث
                        فقد مؤسف لظرف المستندات

                        خدمة تأمين علي شحنات غير مستندات

                        رسوم الخدمة 1.5٪ من قيمة المحتويات مع رسوم الحد الأدنى 24.60 دولار مقابل قيمة الشحنة النقدية
                        المعلنة فى بوليصة الشحن بالإضافة إلى رسوم الشحن في حالة الفقدان المباشر أو التلف المباشر المؤسف.

                        مسؤولية sataexpress للشحن

                        إذا كانت الشحنة غير مؤمن عليها تتمثل في قيمة الشحنة في بوليصة الشحن بحد أقصى 100 دولار
                        أمريكي</p>

                </div>
            </div>

            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s">
                <div class="service-sidebar">
                    <div class="sidebar-widget">
                        <h3>الخدمات</h3>
                        <ul>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن محلى
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن دولي من مصر
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن دولي إلي مصر
                            </li>
                            <li>
                                <i class="icofont-check-circled"></i>
                                شحن بضائع
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Details Section End -->